body
{
    background-color: aliceblue;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px 20px 20px;
}

header{
    padding: 10px;
    border: 2px solid black;
}

#header{
    max-width: 980px;
    display: flex;
    position: relative;
    background-color: cornsilk;
}

#logo{
    width: 40%;
    float: left;
    padding: 3%;
}

#logo-span{
    background: url("../img/logo.jpg") no-repeat center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    width:10em;
    height:10em;
}

#about{
    width: 90%;
    float: right;
    text-align: right;
    margin-right: 3%;
}


#name {
    font-size: 2em;
}


#about #name
{
    padding-bottom:5px;
    font-weight: normal;
    text-transform: uppercase;
}

#fw{
    font-size: 28px;
}

#portfolio{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
}

#portfolio .item
{
    background: #fff;
    width: 32%;
    margin-bottom:2%;
    text-align: left;
    box-shadow: 0 2px 0 #D9E1E7;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 3px;
}


#portfolio .item img
{
    border-radius: 3px 3px 0 0;
    align-self: center;
}

#portfolio .item .work-div
{
    padding: 1.25rem;
}

#portfolio .item h3
{
    font-size:18px;
    color:#444;
}
#portfolio .item:nth-child(3n-1)
{
    margin-right:2%;
    margin-left:2%;
}

.work-img
{
    width:100%;
    height:width;
}

@media screen and (min-width: 600px) and (max-width: 850px)
{
    #portfolio .item{
        width:49%;
    }
    #portfolio .item:nth-child(odd)
    {
        margin-right:2%;
        margin-left:0px;
    }
    #portfolio .item:nth-child(even)
    {
        margin-right:0px;
        margin-left:0px;
    }
}


@media screen and (max-width: 600px)
{
    #portfolio .item
    {
        width:99%;
        margin-right:0!important;
        margin-left:0!important;
        margin-bottom:20px;
    }
}